* {	
}

div {
	box-sizing: border-box;
}

hr {
	color: black;
	max-width: 520px;
	margin: 0 auto;

}

.masthead {
	padding: 34px;
	/*background: #eee;*/
	font-family: "Amatic SC",sans-serif;
	margin-bottom: -73px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.masthead-heading-1,
.masthead-heading-2,
.masthead-heading-3 {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	text-align: center;
	display: block;
}

.masthead-heading-1 {
	font-weight: 300;
	font-size: 45px;
	margin-top: 1px;
}

.masthead-heading-2 {
	font-weight: 300;
	font-size: 106px;
	margin-top: -86px;
	text-shadow: 0px 6px 0px #ddd;
	/*background: #eee;*/
	background-image: url("../images/background2.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	border-radius: 5px;
}

.masthead-heading-3 {
	font-weight: 300;
	font-size: 45px;
	margin-top: -88px;
	text-shadow: 0px 0px 6px #ddd;
}

div#shopping-basket {
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
}

#arrow-down {
	position: relative;
	text-align: center;
}

.text-area {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	
	
	
	
}

#write-image {
	margin: 13px;
	margin-right: 3px;
	margin-bottom: -4px;
	
}

.add-item {
	text-align: center;
	padding: 20px;
	margin-bottom: -20px;

}
.add-item-input {
	border-radius: 5px;
	border-color: #ddd;

	width: 239px;
	font-family: "Amatic SC",sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-align: center;

}

.btn {
	padding: 5px;
	background: #3c3030;
	width: 70px;
	height: 35px;
	margin-top: 0px;
	font-family: "Amatic SC",sans-serif;
	font-size: 22px;
	color: white;
	padding-bottom: 29px;

}

.icons {
	text-align: center;
	/*border: 1px solid red;*/
	
}

.shopping-list {
	
	font-family: "Amatic SC",sans-serif;
	font-size: 30px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 16px;
	padding-right: 48px;
	text-align: center;

}


.needed-list {
	list-style-type: none;
	box-sizing: border-box;
	padding-left: 170px;
 	/*list-style: none outside url("../images/checkmark.png");
	background-size: 30px 40px;
	background-repeat: no-repeat;*/
}

.needed-list li {
	max-width: 350px;
	padding: 7px;
	margin-bottom: 9px;
	border-radius: 10px;
}













.fa {
	font-size: 28px;
}

.fa-cut {
	color: #ddd;
	text-shadow: 0px 0px 3px red;
}

.footer {
	max-width: 521px;
	margin-right: auto;
	margin-left: auto;
	padding: 6px;
	/*background: #eee;*/
	border-bottom: solid 1px gray;
	margin-top: 137px;
	/*background-image: url("../images/background2.png");*/
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	text-align: center;
	color: #6d6868;
	
}



.shopping-list li:hover {
	cursor: pointer;
	border: dotted 2px #ddd;
	/*list-style-type: circle;*/
	content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('../images/checkmark.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;

}


/*hidden classes*/

.color-change {
	color: blue;
	font-size: 20px;
}


